<%- include('common/head.ejs') %>

<body>
  <div class="jumbotron">
    <label>Input Movie Details</label>
    <form action="/insert" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input type="text" name="name" class="form-control" placeholder="name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Author</span>
          </div>
          <input type="text" name="author" class="form-control" placeholder="author" aria-describedby="basic-addon1">
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <label><%= result %></label>
  </div>
</body>